body {
	margin-top: 100;
	margin-bottom: 100;
	margin-right: 150;
	margin-left: 150;
	background-color: #8ba888;
}

.first_table {
	border-collapse: collapse;
	border: 4px;
	border-radius: 10px;
	border-style: solid;
	border-color: #C4A484;
	margin-left: auto;
	width: 50%;
	font-family: Arial, snan-serif;
}

/* */
.first_table th,.first_table td {
	text-align: center;
	font-size: 11px;
	font-style: bold;
	padding: 2px;
}

.first_table tbody th{
	background-color: #C4A484;
	border-collapse: collapse;
	border: 1px;
	border-style: solid;
	border-color: black;
}

